# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore build/dist files
build/
dist/

# Ignore IDE files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db