# Tell GitHub Linguist to ignore frontend build/UI files
frontend/* linguist-detectable=false
public/* linguist-detectable=false
src/* linguist-detectable=false

# Force Python files to be counted
*.py linguist-detectable=true
backend/* linguist-detectable=true
chatbot_backend/* linguist-detectable=true
