fastapi==0.110.0
uvicorn[standard]==0.29.0
google-genai
sqlalchemy
pymysql==1.1
python-jose==3.3.0
passlib==1.7.4
langchain-community==0.3.22
langchain_huggingface
bcrypt==3.2.2
sentence-transformers
faiss-cpu==1.10.0
pypdf-6.11.0